body {
    height: 140vh;
    padding: 25px;
    min-width: 200px;
    margin: 0px;
    padding: 0px;
}



/* Header Styles */
header {

    background: green;
}

/* Navigation Link Styles */
.x-l {
    text-decoration: none;
    color: #007bff;
    /* Define the link color */
}

/* User Menu Styles */
.user-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Button Styles */
.btn {
    padding: 5px 10px;
    border: 1px solid #007bff;
    /* Define the border color */
    background-color: #007bff;
    /* Define the background color */
    color: #fff;
    /* Define the text color */
    cursor: pointer;
    margin-right: 10px;
    /* Adjust the spacing between buttons */
}


main {
    height: 100%;
    background: white;
    display: flex;
    flex-direction: center;
    justify-content: center;
    justify-items: center;

}

form {
    height: 100%;
    width: 100%;
    justify-content: center;
    border: 1px black;
    padding: 8px;

}

form h1 {

    text-align: center;
    font-size: larger;
}

form input[type=radio] {

    width: 40px;

}



form input[type=submit] {
    width: 100px;
    background-color: green;
    color: white;
}

/* Style for individual questions */
.question {
    height: 100%;
    width: 100%;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    padding-top: 50px;

}

/* Style for images */
.question img {

    max-width: 100%;
    width: 700px;
    height: 350px;
}


footer {
    background: green;
    color: white;

}